<html>
<head>
  <meta charset='UTF-8'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepagestyle.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style type="text/css">
  #heading{
    font-family: 'Roboto Slab', serif;
    color: #014979;
  }
</style>

</head>
<body>
    
    <div id="bodycenter">
      <a href="/"><img src="{{ url_for('static', filename='images/reeltimelogo.png') }}"></a>
    </div>

  
  <div id="form">
        <div id="result">
                
      <form action="search_species" method="get">
          <h1 id="heading">Search for target species</h1>
          <h3 id="heading">Greater area:
            <select id="area" name = "area">
            <option selected value="base">- Please select below -</option>
            <option value="Houston">Houston</option>
            <option value="Dallas">Dallas</option>
            <option value="Austin">Austin</option>
        </select></h3>

        <h3 id="heading">Fish Species: 
        <select id="species" name = "species">
            <option name ="Largemouth bass">Largemouth bass</option>
            <option name ="Smallmouth bass">Smallmouth bass</option>
            <option name ="Guadalupe bass">Guadalupe bass</option>
            <option name ="White bass">White bass</option>
            <option name ="Channel catfish">Channel catfish</option>
            <option name ="Blue catfish">Blue catfish</option>
            <option name ="Bluegill">Bluegill</option>
            <option name ="Green Sunfish">Green Sunfish</option>
            <option name ="Longear Sunfish">Longear Sunfish</option>
            <option name ="Carp">Carp</option>
            <option name ="Alligator Gar">Alligator Gar</option>
            <option name ="Spotted Gar">Spotted Gar</option>
            <option name ="Redhorse Sucker">Redhorse Sucker</option>
        </select></h3>

        
        <br>
  
        <input id="zz"type="submit" value="Submit" onclick="myMap()">
    </form>
  </div>

  
                <p>{{ message }}</p>
                <p>{{result}}</p>
              </div>

  <div id="googleMap" style="width:70%;height:400px;margin: auto;margin-top: 30px;margin-bottom: 70px"></div>


<script>


function myMap() {


// var temp = {{data}}
// console.log(temp)
var latVar
var lngVar
{% if data is defined %}
  latVar = {{data.lat}}
  lngVar = {{data.lng}}
{% else %}
  latVar = 30.2672
  lngVar = -97.7431 
{% endif %}



var mapProp= {
  center:new google.maps.LatLng(latVar, lngVar),
  zoom:9,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var currMarker = {lat: latVar, lng: lngVar};
// currMarker = {lat: 30.2672, lng: -97.7431};
var marker = new google.maps.Marker({position: currMarker, map: map});
}


</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<KEY>&callback=myMap"></script>


</body>
</html>
